<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi familia</title>
</head>
<body>
<h2>Mi primer familiar es</h2>
<br>
Mi familiar {{familiar1.nombre}} es mi {{familiar1.parentezco}}, nacio el {{familiar1.fecha_nacimiento}} y su DNI es: {{familiar1.dni}}
<br>
<h2>Mi segundo familiar es</h2>
<br>
Mi familiar {{familiar2.nombre}} es mi {{familiar2.parentezco}}, nacio el {{familiar2.fecha_nacimiento}} y su DNI es: {{familiar2.dni}}
<br>
<h2>Mi tercer familiar es</h2>
<br>
Mi familiar {{familiar3.nombre}} es mi {{familiar3.parentezco}}, nacio el {{familiar3.fecha_nacimiento}} y su DNI es: {{familiar3.dni}}
</body>
</html>